
/*----------blog-------------*/
.blog-content {
  background-color: #FFFFFF;
  min-height: 1400px;
}
.blog-content .article {
  margin-top: 60px;
}
.blog-content .article-image {
  height: 350px;
  margin-top: 30px;
  width: 100%;
}
.blog-content .article-info h2 {
  
  font-size: 26px;
  font-family: "Source Sans Pro";
  
}
.blog-content .article-info p {
  color: #b5b5b5;
  font-size: 16px;
  font-family: "Source Sans Pro";
}
.blog-content .article-info li a {
  color: #b5b5b5;
  text-decoration: none;
}
.blog-content .article-info li a:hover {
  color: #7a7880;
}
.blog-content .learn a {
  color: #7a7880;
  text-decoration: none;
}
.blog-content .learn a:hover {
  color: #2ac4ea;
}
.blog-content .learn i {
  color: #2ac4ea;
}
/*--------------blog-----------*/
.pagelink {
  text-align: center;
}
