/*@import url(http://fonts.googleapis.com/css?

family=Open

+Sans:300italic,400italic,600italic,700italic,800ital

ic,400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?

family=Droid+Sans:400,700);
@import url(http://fonts.googleapis.com/css?

family=Source+Sans

+Pro:200,300,400,600,700,900,200italic,300italic,400i

talic,600italic,700italic,900italic);*/
@import "animate.css";
@import "jquery.easy-pie-chart.css";

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular.eot'),
        url('../fonts/Montserrat-Regular.otf') format('otf'), 
        url('../fonts/Montserrat-Regular.woff') format

        ('woff'),
        url('../fonts/Montserrat-Regular.ttf')  format

        ('truetype');
}

@font-face {
    font-family: 'opensans';
    src: url('../fonts/opensans.woff2')
}

body {
    background-color: #fbfbfb;
    font-family: "Montserrat-Regular";
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-family: "Montserrat-Regular";
}
.navbar {
    margin-bottom: 0px;
}
.navbar.navbar-default {
    background-color: #323543;
    border-color: #27292f;
    border-radius: 0px;
    border-bottom: 4px solid #26272f;
}
.navbar.navbar-default .navbar-brand {
    color: #777777;
}
.navbar.navbar-default .navbar-nav.navbar-social-

links {
    margin-left: 40px;
}
.navbar.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
    font-weight: 600;
    /* font-family: "Droid Sans"; */
    line-height: 46px;
    font-size: 15px;
    text-transform: capitalize;
}
.navbar.navbar-default .navbar-nav > li > a:hover {
    color: white;
}
.navbar.navbar-default .navbar-nav > li.active > a,
.navbar.navbar-default .navbar-nav > li.active > 

a:focus,
.navbar.navbar-default .navbar-nav > li.active > 

a:hover {
    background-color: #1e202c;
    color: white;
}
.navbar.navbar-default .navbar-nav > li.open 

.dropdown-menu {
    margin-top: 5px;
}
.navbar.navbar-default .navbar-nav > li.open > a,
.navbar.navbar-default .navbar-nav > li.open.open > 

a:hover,
.navbar.navbar-default .navbar-nav > li.open.open > 

a:focus {
    background-color: #27292f;
    color: white;
}
.navbar-brand {
    color: white !important;
    font-size: 32px;
    line-height: 40px;
    /*  font-family: 'Droid Sans', sans-serif;*/
    font-weight: 700;
}
.navbar-brand span.logo {
    /*border: 2px solid #6c7283;
    padding: 5px;
    border-radius: 8px;*/
}
.navbar-brand:hover {
    color: #6c7283;
}
.navbar-brand strong {
    color: #6c7283;
}
.slider {
    background-color: #f9f9f9;
    border-bottom: 1px solid #e2e2e2;
}
.slider.carousel {
    min-height: 500px;
    color: #919191;
}
.slider.carousel .carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    border: 1px solid #919191;
    background-color: #919191;
    border-radius: 10px;
}
.slider.carousel .carousel-indicators li.active {
    width: 14px;
    height: 14px;
    margin: 0;
    background-color: #efefef;
    border-width: 2px;
}
.slider.carousel .item .slider-caption {
    margin-top: 130px;
    text-align: left;
    padding-left: 20px;
}
.slider.carousel .item .slider-caption h1 {
    /*  font-family: "Source Sans Pro";*/
    color: #25252d;
    text-align: left;
}
.slider.carousel .item .slider-caption p {
    color: #ababab;
    text-align: left;
}
.slider.carousel .item .slider-caption a.btn {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 14px;
    /* font-family: "Open Sans";*/
    font-weight: 400;
    background: #3276B0;
    border-color: #333646;
}
.slider .carousel-control .fa-arrow-circle-o-left,
.slider .carousel-control .fa-arrow-circle-o-right {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    color: #919191;
}
.slider .carousel-control.left,
.slider .carousel-control.right {
    background-image: none;
    outline: none;
}
.features {
    min-height: 180px;
    padding-top: 60px;
}
.features .feature-icon {
    float: left;
    background: url(../images/serviceBubble.png);
    height: 60px;
    width: 65px;
    background-repeat: no-repeat;
    padding-top: 16px;
    padding-left: 6%;
    color: #cccccc;
    font-size: 18px;
}
.features .feature-description {
    padding-left: 80px;
}
.features .feature-description h5 {
    font-size: 14px;
    color: #6c6c6c;
    font-weight: 600;
}
.features .feature-description p {
    font-size: 12px;
    color: #999999;
}
.features .feature:hover .feature-icon {
    background: url(../images/serviceBubble-hover.png);
    background-repeat: no-repeat;
    color: #2ac4ea;
}
.features .feature:hover .feature-icon i {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transition: 800ms ease;
    -moz-transition: 800ms ease;
    -ms-transition: 800ms ease;
    -o-transition: 800ms ease;
    transition: 800ms ease;
}
.features .feature:hover .feature-description h5 {
    color: #2ac4ea;
    -webkit-transition: 800ms ease;
    -moz-transition: 500ms ease;
    -ms-transition: 500ms ease;
    -o-transition: 500ms ease;
    transition: 500ms ease;
}
.choose-us {
    margin-top: 90px;
    /*  font-family: "Source Sans Pro";*/
}
.choose-us h3 {
    font-weight: 200;
    font-size: 30px;
    /*  font-family: "Source Sans Pro";*/
    color: #7d8182;
    margin-top: 0px;
}
.choose-us p {
    /*font-family: "Source Sans Pro";*/
    font-weight: normal;
    font-size: 16px;
    color: #b4b7b7;
}
.choose-us ul.check-list li {
    color: #999999;
    font-weight: bold;
}
.choose-us ul.check-list li .fa-check {
    float: right;
    margin-right: 20%;
    color: #dbdbdb;
}
.services {
    min-height: 390px;
    margin-top: 60px;
}
.services .row {
    margin-top: 78px;
}
.services .service-item .service-icon {
    width: 52px;
    height: 52px;
    background-color: #cccccc;
    border-radius: 50%;
    text-align: center;
    padding-top: 14px;
    font-size: 20px;
    float: left !important;
    color: white;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}
.services .service-item .service-description {
    padding-left: 72px;
    margin-top: -10px;
    font-family: "Source Sans Pro";
}
.services .service-item .service-description h5 {
    font-family: "Source Sans Pro";
    font-size: 18px;
    color: #6b7071;
}
.services .service-item .service-description p {
    font-size: 14px;
    color: #9fa2a3;
}
.services .service-item:hover .service-icon {
    background-color: #81cedc;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
.services .service-item:hover .service-description h5 

{
    color: #81cedc;
}
.team {
    margin-top: 60px;
    background: url(../images/slide1.jpg);
}
.team h3 {
    font-family: "Source Sans Pro";
    font-size: 24px;
    color: white;
}
.team p {
    font-size: 16px;
    /*  font-family: "Source Sans Pro";*/
    color: #afb2b3;
}
.team .team-member {
    background-color: white;
    margin-top: 30px;
    text-align: center;
    color: #a9acac;
    border: 1px solid #e4e4e4;
    margin-bottom: 50px;
}
.team .team-member img {
    width: 100%;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.team .team-member:hover img {
    opacity: 0.7;
}
.team .team-member ul a {
    color: #dddedf;
    text-decoration: none;
    font-size: 16px;
    padding-top: 10px;
}
.team .team-member ul a:hover {
    color: #81cedc;
}
.clients {
    background-color: #fbfbfb;
    border-bottom: 1px solid #e2e2e2;
    min-height: 120px;
    text-align: center;
}
.clients ul {
    margin-top: 40px;
}
.clients ul li {
    margin: 10px 35px;
    margin-top: 0px;
    opacity: 0.4;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.clients ul li:hover {
    opacity: 1.0;
}
.testimonials {
    margin-top: 96px;
    margin-bottom: 50px;
}
.testimonials h3 {
    /*  font-family: "Source Sans Pro";*/
    font-size: 24px;
    color: #7d8182;
    margin-bottom: 30px;
}
.testimonials .qoute {
    text-align: center;
    /*  font-family: "Source Sans Pro";*/
    font-size: 16px;
    color: #939597;
}
.testimonials .qoute .client-details {
    color: #7b7d80;
}
.testimonials .qoute .client-details span {
    color: #c9c9c9;
}
.testimonials .qoute .client-details img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.testimonials .qoute p:before {
    content: open-quote;
}
.testimonials .qoute p:after {
    content: open-quote;
}
.footer {
    background: url(../images/footerBg.jpg);
    min-height: 502px;
    -webkit-background-size: cover;
    background-size: cover;
}
.footer .twitter-feed {
    background-color: #373d3f;
    min-height: 100px;
    opacity: 0.7;
    padding-top: 40px;
    color: white;
    font-size: 18px;
    /*  font-family: "Source Sans Pro";*/
    text-align: center;
}
.footer .twitter-feed i {
    font-size: 24px;
    padding-right: 20px;
    color: #5dd7fc;
}
.footer .footer-content {
    margin-top: 50px;
    font-size: 16px;
    color: white;
}
.footer .footer-content .navbar-brand {
    display: block !important;
    padding-left: 0px;
    float: none;
}
.footer .footer-content .site-description {
    display: block;
    float: left;
    margin-top: 30px;
    padding-right: 80px;
    font-size: 16px;
    font-weight: 300;
    /*  font-family: "Source Sans Pro";*/
}
.footer .footer-content .footer-heading {
    font-size: 24px;
    /*  font-family: "Source Sans Pro";*/
}
.footer .footer-content ul.footer-tags {
    padding-left: 0px;
}
.footer .footer-content ul.footer-tags li {
    height: 28px;
    margin: 5px 5px;
    margin-left: 0px;
}
.footer .footer-content ul.footer-tags li a {
    background: white;
    color: #6e6e6e;
    padding: 5px;
    padding-bottom: 6px !important;
    padding-right: 20px;
    border: 2px solid #494e51;
    background-color: #f9f9f9;
    line-height: 28px;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
}
.footer .footer-content ul.footer-tags li:after {
    content: url(../images/tag.png);
    top: 10px;
    left: -3px;
    position: relative;
    right: 0px;
    border-radius: 8px;
    width: 0;
}
.footer .footer-content ul.blog-posts {
    margin-top: 20px;
}
.footer .footer-content ul.blog-posts li {
    margin-bottom: 20px;
    height: 50px;
}
.footer .footer-content ul.blog-posts li a {
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}
.footer .footer-content ul.blog-posts li a img {
    float: left;
    margin-right: 20px;
}
.footer .footer-content ul.blog-posts li a h5 {
    padding-left: 60px;
    margin-bottom: 5px;
}
.footer .footer-content ul.blog-posts li a p {
    padding-left: 60px;
    font-size: 14px;
    color: #b7b9b9;
}
.page-title {
    min-height: 60px;
    -webkit-background-size: cover;
    background-size: cover;
    background: #fbfbfb;
    border-bottom: 1px solid #e2e2e2;
    background-repeat: none;
    margin-top: 110px;
    
}

.page-title h2 {
    color: #a8a8a8;
    margin-top: 0px;
    padding-top: 15px;
    font-size: 26px;
    font-weight: 400;
    float: left;
}
.page-title .breadcrumb {
    background-color: #fbfbfb;
    padding-top: 15px;
}
.page-title .breadcrumb li a {
    color: #737783;
}
.page-title .breadcrumb li a.active a {
    color: #a8a8a8;
}
.service-description {
    margin-top: 40px;
    margin-bottom: 40px;
}
.service-description h3 {
    color: #5c6263;
}
.service-description p {
    color: #b4b7b7;
}
.statistics {
    color: #979b9b;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 50px;
}
.statistics .chart {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 110px;
    margin-top: 50px;
    margin-bottom: 0px;
    text-align: center;
    padding-top: 40px;
    color: #81cedc;
}
.statistics .chart canvas {
    position: absolute;
    top: 0;
    left: 0;
}
.my-works {
    margin: 60px 0px 60px 0px;
}
.my-works a {
    font-size: 16px;
    text-align: center;
}
.element {
    margin-bottom: 20px;
    text-align: center;
}
/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, 

        opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
}
/* End: Recommended Isotope styles */
/*   About US Styles  */
/*-------------header-discription-----*/
.header-discription {
    height: 100px;
    background: #fbfbfb;
}
.header-discription h2 {
    /*  color: #a8a8a8;*/
    font-size: 26px;
    /*  font-family: "Source Sans Pro";*/
    margin-top: 30px;
}
.header-discription p {
    color: #6F6F6F;
    font-size: 16px;
    /*  font-family: "Source Sans Pro";*/
}
/*--------- header-discription---------*/
/*--------content------*/
.content {
    margin-top: 50px;
    height: 330px;
}
.content .box img {
    width: 100%;
}
.content .content-discription > h3 {
    /*  color: #7a7880;*/
    margin-top: 0px !important;
    font-size: 30px;
    /*  font-family: "Source Sans Pro";*/
}
.content .content-discription p {
    /*  color: #b5b5b5;*/
    font-size: 13px;
    /* font-family: "Source Sans Pro";*/
    line-height: 26px;
}
/*---------content-------*/
.background-inverse {
    background: #fbfbfb;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e2e2e2;
    border-top: 1px solid #e2e2e2;
}
/*      Blog Style         */
.blog {
    margin-top: 60px;
    margin-bottom: 40px;
    height: 440px;
}
.post-image img {
    max-width: 100%;
}
.post-text {
    font-size: 30px;
    color: #a8a8a8;
}
.post-info > ul > li {
    display: inline;
    padding-right: 20px;
}
.post-info > ul > li > a {
    text-decoration: none;
    color: #a8a8a8;
}
.post-info > ul > li > a i {
    padding-right: 5px;
}
.post-info > ul > li > a:hover {
    color: #5c5c5c;
}
.post-info > ul {
    padding-left: 0px;
}
.post-info > ul > li .post-info .fa {
    color: #c7c9c8;
}
.blog-description p {
    margin-top: 30px;
    text-align: justify;
    color: #a4a7a8;
}
.blog-description img {
    max-height: 80px;
    max-width: 100%;
    float: left;
    padding-right: 20px;
}
/*--------------------------------------BLOG-

RIGHT---------------------------------*/
.blog-right {
    padding-left: 40px;
}
.blog-thumb {
    margin: 20px auto;
}
.blog-thumb img {
    height: 50px;
    widows: 50px;
    float: left;
    margin-right: 10px;
}
.blog-thumb p {
    padding-top: 10px;
    line-height: 12px;
    color: #c7c9c8;
}
.blog-thumb h5 {
    font-size: 16px;
    color: #c7c9c8;
    font-weight: 400;
    margin-bottom: 0px;
}
.blog-tags {
    font-size: 22px;
    color: #c7c9c8;
    margin-top: 40px !important;
}
.blog-tags h3 {
    font-weight: 400;
}
ul.sub-text {
    text-decoration: none;
    font-size: 16px;
    float: left;
    margin-left: 0px;
    padding-left: 0px;
}
ul.sub-text > li {
    padding: 3px;
    list-style: none;
}
ul.sub-text > li i {
    padding-right: 5px;
}
.author {
    background-color: #fbfbfb;
    min-height: 150px;
    padding-top: 30px;
    border-top: 1px solid #e2e2e2;
    margin-top: 20px;
}
.author img {
    border-radius: 50%;
    float: left;
    margin-right: 20px;
    margin-bottom: 5px;
}
.author .author-details {
    color: #a2a5a6;
    margin-top: 10px;
    margin-bottom: 0px;
}
.author .author-details strong {
    color: #7a7d7f;
}
.author .fa {
    color: #a2a5a6;
}
.author p.author-description {
    color: #a2a5a6;
    font-size: 14px;
    text-align: justify;
    margin-top: 10px;
}
.comment-form h4 {
    font-size: 18px;
    margin-top: 20px;
}
.comment-form input.form-control,
.comment-form textarea.form-control {
    margin-bottom: 20px;
}
.comment-form input[type='submit'] {
    background: #2ac4ea;
    border: none;
}
/*     Contact Us   */
.map {
    height: 430px;
    margin-top: 50px;
}
.contact h4 {
    color: #8b8d8f;
    font-size: 22px;
}
.contact p {
    color: #a9acac;
}
.contact p:hover abbr {
    color: #2ac4ea;
}
.contact abbr {
    color: #727272;
    margin-right: 10px;
}
.contact abbr:hover {
    color: #2ac4ea;
}
.contact-form label {
    color: #898989;
    font-weight: normal;
}
.contact-form input[type='submit'] {
    background: #2ac4ea;
    border: none;
    color: white;
    margin: 20px 0px;
}
/*
Navbar "hovernav" dropdown menu - this works only for 

screen sizes larger than phones.
The Bootstrap CSS is unchanged. If you don't want 

this, delete this segment of the CSS
and delete the corresponding segment of bst.js
*/
@media (min-width: 768px) {
    .navbar-nav .caret {
        display: none;
    }
    .navbar-nav .open ul {
        display: none;
    }
    .navbar-nav .hovernav:hover > .dropdown-menu {
        display: block;
    }
}




/*=========new updates===========*/
.uppercase{text-transform: uppercase;}
.header-warp{position: relative;}
.fixed-head{  position: fixed;
              width: 100%;
              z-index: 100;
              background-color: #fff;}
.head-modify .navbar-nav > li > a{  padding-top: 5px;
                                    padding-bottom: 5px;
                                    transition:all ease 1s;
                                    -webkit-transition:all ease 1s;
                                    -moz-transition:all ease 1s;
}
.head-modify .navbar-brand{
    font-size: 24px;
    padding: 8px 15px;
    transition:all ease 1s;
    -webkit-transition:all ease 1s;
    -moz-transition:all ease 1s;}
.heading {
    margin-bottom: 8px;
    color: #fff;
    font-size: 16px;
    display: block;
    padding: 10px 20px;
    border-radius: 5px;
    background: #3276B1;
}
.latest-list-warp{ }
.list-block {
    padding: 12px;
    background: #FBFBFB;
    border: 1px solid #DDD;
    margin-bottom: 20px;
    border-radius: 5px;
    border-left: 5px solid #6799C5;
    position: relative;
    box-shadow: 2px 2px grey;
}
.list-block-right{position: relative;min-height: 

                      120px;}
.list-block .title{
    text-transform: capitalize;
    color: #d2322d;
    margin-top: 3px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
}
.block-content{margin-bottom: 15px;font-size: 12px;
               color: #777;}
.list-block .rate-warp{}
.list-block .rate-warp i{display: inline-block;color: 

                             #F5852D;
                         padding: 1px;}
.list-block .rate-warp .block{border-right:1px solid 

                                  #C5C5C5;font-size: 13px; }
.list-block .rate-warp .btn i{color: #fff;}
.blog-right .block{
    padding: 5px;
    background: #F8F8F8;
    border: 1px solid #DDD;
    margin-bottom: 10px;
}
.blog-right .block ul{padding-left: 10px;}
.blog-right .block li{list-style: none;display: 

                          block;}
.blog-right .block li a{  display: block;
                          padding: 3px 0 3px 10px;
                          font-size: 13px;
                          position: relative;
                          color: #4F4D4D;}
.blog-right .block li a:before{
    position: absolute;
    content: "\f105";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    left: -5px;
    top: 5px;
}
.support-text {
    margin-bottom: 0;
    line-height: 36px;
}

ul.yt-loginform {
    list-style: none;
    padding: 6px;
    margin: 0px;
}
ul.yt-loginform li {
    display: inline-block;
    border: none;
}
ul.yt-loginform li a {
    color: #666;
    transition: 0.3s all ease 0s;
    position: relative;
    display: inline-block;
    padding: 2px 8px 3px;
    border-right: 1px solid #EAEAEA;
}
.socail-warp{padding-left: 0px;float: left;}
.socail-warp li{list-style: none;float: left;display: 

                    inline-block;}
.socail-warp li a{display: block;width: 35px;height: 

                      35px;background: #000;
                  color: #fff;
                  margin: 5px;
                  padding: 5px;
                  border-radius: 50%;}
.socail-warp li a i{padding-right: 0px !important;}
.socail-feed{padding-top: 15px !important;min-height: 

                 60px !important;}
.socail-feed h3{margin-top:0px;margin-bottom: 0;
                line-height: 45px;}
.post-date-warp{border-right:1px dashed #ccc;}
.post-date-warp hr{margin: 6px 0;
                   border-color:#e2e2e2; }
.post-date{height: 100%;}
.post-date h4{margin-top: 5px;font-weight: 

                  600;margin-bottom: 5px;}
.post-date h5{margin-top: 5px;font-size: 

                  14px;color:#9E9393;}
.Desc-warp{padding-bottom: 30px;  border-bottom: 1px 

               solid #ccc;margin-bottom: 30px;}
.Desc-warp .header h3{margin-bottom: 0px;font-weight: 

                          600;}
.Desc-warp .header ul{
    padding-left:5px; 
}
.Desc-warp .header ul li{
    list-style: none;
    display: inline-block;
    padding: 5px 10px;
}
.Desc-warp .header ul li:first-child{padding-left: 

                                         0px;}
.Desc-warp .header ul li a{
    color: #6F6F6F;
    font-size: 11px;
    font-weight: normal;
}
.Desc-warp .content-inner p{font-size: 12px;}
.Desc-warp .content-inner h4{margin: 25px 0;}
.Desc-warp .header{  margin-bottom: 30px;
                     padding-bottom: 10px;
                     border-bottom: 1px solid #ccc;}
.rating-warp ul li{
    list-style: none;
    display: inline-block;
    padding: 1px !important;
    color: #F5852D;
}
.show-ratring h2{margin-bottom: 0px;}
.media-left{float: left;  padding-right: 11px;
            border-right: 1px dashed #ccc;
            margin-right: 15px;}
/*old .contact{padding-top: 50px;padding-bottom: 50px;}*/

.contact {
    padding-bottom: 0;
    padding-top: 0px;
}

.contact p {
    font-size: 20px !important;
    font-family: "open sans",arial,sans-serif !important;
    font-weight: 300;
}
.review-block{margin-top: 15px;margin-bottom: 40px;}
.review-block .media-heading{  font-size: 13px;
                               color: #666;
                               margin-bottom: 10px;
                               float: left;
}
.review-block .media-body p{
    font-size: 12px;
    color: #898989;
    font-weight: 100;
}
.review-warp .header
{
    margin-bottom: 30px;line-height: 55px;
}
.favariote{font-size: 12px;}
.favariote span{padding-left: 10px;}
.media-head-warp{margin-bottom: 5px;}
.star .fa-star{  color: #F5852D;font-size: 12px;}

.register-inner{
    border-right: 1px solid 
    #ccc;position: relative;
}
.register-inner:before{
    content: " ";
    display: inline-block;
    width: 25px;
    height: 50px;
    /* background: #ccc; */

    position: absolute;
    right: -6px;
    position: absolute;

    /* right: -6px; */
    background-image: url(../images/tringle.png);
    background-repeat: no-repeat;
    top: 100px;
}


/* Nav-Stacked USER  */

.nav-stacked-left{
    border-right: 1px solid #428BCA;
}
.nav-stacked-left > li{
    margin-right: -4px;
}
.nav-stacked-left > li > a {
    margin-right: 2px;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}
.nav-stacked-left > li > a:hover {
    border-color: #eeeeee #eeeeee #428BCA;
}
.nav-stacked-left > li.active > a,
.nav-stacked-left > li.active > a:hover,
.nav-stacked-left > li.active > a:focus {
    color: #555555;
    cursor: default;
    background-color: #ffffff;
    border: 1px solid #428BCA;
    border-right-color: transparent;
}

/* Nav-Stacked USER  */

.tag{
    margin: 0px;
    width: 95px;
    height: 44px;
    background-image: url(../images/tag1.png);
    background-position: center;
    background-repeat: no-repeat;
    font-size: 14px;
    color: #6a2b09;
    text-align: right;
    text-shadow: 0px 1px 0px #ff9d60;
    font-family: 'Oswald', sans-serif;
    float: right;
    position: relative;
    z-index: 9;
    line-height: 36px;
    padding-right: 10px;
    right: -35px;
    top: -40px;
}
.carousel-inner{
    padding-top:120px !important;
}
.loadMore{
    background-color: #3276b1;
    border-color: #285e8e;
    color: #ffffff;
    margin-bottom: 10px;
    width: 100%;
}

/*for price tag*/

.product{
    margin:60px auto;
    padding:40px;
    position:relative;
    width:420px;
    background:white;
    z-index: 0;
    @include box-shadow(0px 5px 40px rgba( 0, 0, 0, 0.2 ));
    @include border-radius(3px);
}
@import url(http://fonts.googleapis.com/css?family=Open+Sans:600,300,400);
*{
    @include box-sizing(border-box);
}

label#price_tag{
    background: #efc634 none repeat scroll 0 0;
    border-radius: 16px 0 21px;
    display: inline-block;
    font-size: 19px;
    font-weight: 600;
    height: 34px;
    line-height: 40px;
    position: absolute;
    right: -10px;
    text-align: right;
    top: -8px;
    width: 120px;
    text-align: center;
    @include text-shadow(rgba(255,255,255, .2) 1px 1px, rgba(255,255,255, .2) 1px 1px);
    @include border-radius(0 3px 2px 0px);
    &:after{
        content: "";
        position: absolute;
        right: 100%;
        bottom: 0;
        width: 0;
        height: 0;
        display: inline-block;
        line-height: 0;
        border-width: 20px;
        border-style: solid;
        border-color: #FFDC40 #FFDC40 #FFDC40 transparent;
    }
    &:before{
        content: '';
        position: absolute;
        bottom: 6px;
        width: 120px;
        left: -35px;
        height: 4px;
        @include box-shadow(0 5px 14px rgba(0, 0, 0, 0.4));
        z-index: -1;
        @include transform(skew(-5deg) rotate(-5deg));
    }
}

.blink_me {
    animation: blinker 1s linear infinite;
    color:#5e91cd;
}

@keyframes blinker {  
    50% { opacity: 0.0; }
}

#prompts {
    z-index: 9999;
    display: none;
    position: fixed;
    top: 50px;
    left: 40%;
    background: #f13030;
    opacity: 0.9;
    color: #000;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #f13030;
}
.modal-header{
    background-color: #323543;
    color:#fff;
}
.modal-footer{
    background-color: #323543;
    color:#fff;
}

#feedback {
    height: 104px;
    width: 104px;
    position: fixed;
    top: 50%;
    z-index: 999;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#feedback a {
    display: block;
    background: #428BCA;
    height: 60px;
    width: 168px;
    padding: 15px 16px;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    border-bottom: solid 1px #333;
    border-left: solid 1px #333;
    border-right: solid 1px #333;
}

#feedback a:hover { 
    background: #06c; 
}

.totalPro{
    margin-top: 19px !important ;
}

.topbar-toggle{
    border-radius: 0 0 11px 11px;
    color: #fff;
    margin-left: 10px;
    padding: 4px;
    background: #27435a none repeat scroll 0 0;
}
.topbar-toggle:hover{
    background-color: #6091ba;
}